<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>THE OPEN GALAXY</title>
</head>
<body>
<header th:include="blocks/header :: header"></header>
<div class = "main">
    <h1>Signup</h1>
    <div th:if="${error}">
        <div class="alert alert-danger" style="width: 400px" th:text="${error}"/>
    </div>
    <div class="alert alert-danger" id  = "matchError" style="width: 50%">Passwords doesn't match</div>

    <form th:action="@{/signup}" method="post" onsubmit="return checkPassword(this)">
        <input type="text" name="username" placeholder="username" class="form-control" style="width: 50%"/>
        <br>
        <input type="email" name="email" placeholder="email" class="form-control" style="width: 50%"/>
        <br>
        <input type="password" name="password" placeholder="password" class="form-control" style="width: 50%"/>
        <br>
        <input type="password" name="password_confrim" placeholder="confrim password" class="form-control" style="width: 50%"/>
        <br>
        <input type="submit" value="Signup" class="btn btn-outline-dark" style="width: 50%"/>
    </form><br>
    <a href="/login">Already have an account?</a>

</div>
</body>
</html>